<div id="<%= dom_id store%>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= store.manager.name %>
  </p>

  <p>
    <strong>Manager's birth date:</strong>
    <%= store.manager.birth_date %>
  </p>

  <!-- TODO - list all store's contacts -->

</div>
