<p style="color: green"><%= notice %></p>

<h1>Stores</h1>

<div id="stores">
  <table>
    <thead>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Manager</th>
      <th scope="col">Details</th>
    </thead>
    <tbody>
    <% @stores.each do |store| %>
        <%= render store %> 
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New store", new_store_path %>
