<div id="<%= dom_id contact %>">
  <p>
    <strong>Type:</strong>
    <%= contact.type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= contact.value %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= contact.store_id %>
  </p>

</div>
